.rightpro {
  margin-right: 50px;
  margin-left: 2px;
  height: 100vh;
  background: white;
}
.rightpro .current {
  border-bottom: 1px solid black;
  box-shadow: 10px 10px 8px 10px #888888;
}
.rightpro .current .currinfo {
  padding: 20px;
}
.rightpro .current .currinfo h4 {
  overflow: hidden;
  height: 32px;
}
.rightpro .pickup {
  background: white;
  padding: 60px;
}
.rightpro .pickup .findicon {
  font-size: 30px !important;
  margin-right: 15px;
}
.rightpro .pickup .pickupfield .location {
  font-size: 35px !important;
  cursor: pointer !important;
}
.rightpro .pickup #request {
  width: 90%;
  margin: 5px;
  border-radius: 0px;
  padding: 10px 0px;
  background: black;
  color: white;
}
.rightpro .pickup #later {
  width: 90%;
  margin: 5px;
  border-radius: 0px;
  padding: 10px 0px;
  background: #eeeeee;
  color: black;
}
